

.text-center{text-align:center;}
.project-name{font-size: 4rem;font-weight: 300;}
.project-tagline {font-size: 1.5rem;}
.project-welcome{margin: 20px 0 60px 0;border-bottom: solid 1px; padding-bottom: 40px;}
